---
import EntryTagsSection from '@components/server/app/EntryTagsSection.astro';
import type { Page } from '@schemas/PageSchema';
import type { Site } from '@schemas/SiteSchema';
import { toDisplayString } from '@utils/contentHelpers';
import { t } from '@utils/i18n';

interface Props {
  page: Page;
  site: Site;
}

const { page, site } = Astro.props as Props;

const showLicenseAsLink = site.license?.startsWith('cc') as boolean;
const showLicenseAsText = !showLicenseAsLink && site.license !== '0';
---
<footer class="mt-2 mb--2">
  {page.tags && page.tags.length > 0 && (
    <section class="border-t">
      <EntryTagsSection tags={page.tags} />
    </section>
  )}

  <nav class="toolbar border-t mt-2">
  <p class="m-0 p-0 text-small">
    {toDisplayString(page.flowTime)}
  </p>
  
  {showLicenseAsText && <p class="p-0 m-0 text-small">
    {t('site:license.forText')} {t('site:license.' + site.license)} {site.license}
  </p>}
  {showLicenseAsLink && <p class="p-0 m-0 text-small">
    <a href={t('site:license.links.' + site.license)} target="_blank" rel="noopener noreferrer">
      {t('site:license.forText')} 
      {t('site:license.' + site.license)}
    </a>
  </p>}

  

  <p class="m-0 p-0 text-small">
    <a href={`/sites/${site.key}/${page.key}/history`}>
      {t('site:page.history.title')}
    </a>
  </p>
  </nav>
</footer>